In [1]:
import pandas as pd

In [2]:
# Import homicide data
murders_df = pd.read_csv("Resources/murders.csv", low_memory=False)
murders_df.head()

,Record ID,Agency Code,Agency Name,Agency Type,City,State,Year,Month,Incident,Crime Type,...,Victim Ethnicity,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Perpetrator Ethnicity,Relationship,Weapon,Victim Count,Perpetrator Count,Record Source
0,1,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,January,1,Murder or Manslaughter,...,Unknown,Male,15,Native American/Alaska Native,Unknown,Acquaintance,Blunt Object,0,0,FBI
1,2,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,1,Murder or Manslaughter,...,Unknown,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI
2,3,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,2,Murder or Manslaughter,...,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,0,0,FBI
3,4,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,1,Murder or Manslaughter,...,Unknown,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI
4,5,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,2,Murder or Manslaughter,...,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,0,1,FBI

In [3]:
# Filter to California homicides
murders_df = murders_df[murders_df["State"]=="California"]
murders_df.head()

,Record ID,Agency Code,Agency Name,Agency Type,City,State,Year,Month,Incident,Crime Type,...,Victim Ethnicity,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Perpetrator Ethnicity,Relationship,Weapon,Victim Count,Perpetrator Count,Record Source
1067,1068,CA00100,Alameda,Sheriff,Alameda,California,1980,April,1,Murder or Manslaughter,...,Unknown,Unknown,0,Unknown,Unknown,Unknown,Knife,0,1,FBI
1068,1069,CA00100,Alameda,Sheriff,Alameda,California,1980,August,1,Murder or Manslaughter,...,Not Hispanic,Male,39,White,Not Hispanic,Son,Handgun,0,0,FBI
1069,1070,CA00100,Alameda,Sheriff,Alameda,California,1980,October,1,Murder or Manslaughter,...,Not Hispanic,Unknown,0,Unknown,Unknown,Unknown,Fire,0,1,FBI
1070,1071,CA00100,Alameda,Sheriff,Alameda,California,1980,November,1,Murder or Manslaughter,...,Hispanic,Unknown,0,Unknown,Unknown,Unknown,Knife,0,0,FBI
1071,1072,CA00100,Alameda,Sheriff,Alameda,California,1980,November,2,Murder or Manslaughter,...,Not Hispanic,Unknown,0,Unknown,Unknown,Unknown,Knife,0,0,FBI

In [4]:
# Rename City column County
murders_df.rename(columns={"City":"County"}, inplace=True)
murders_df.head()

,Record ID,Agency Code,Agency Name,Agency Type,County,State,Year,Month,Incident,Crime Type,...,Victim Ethnicity,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Perpetrator Ethnicity,Relationship,Weapon,Victim Count,Perpetrator Count,Record Source
1067,1068,CA00100,Alameda,Sheriff,Alameda,California,1980,April,1,Murder or Manslaughter,...,Unknown,Unknown,0,Unknown,Unknown,Unknown,Knife,0,1,FBI
1068,1069,CA00100,Alameda,Sheriff,Alameda,California,1980,August,1,Murder or Manslaughter,...,Not Hispanic,Male,39,White,Not Hispanic,Son,Handgun,0,0,FBI
1069,1070,CA00100,Alameda,Sheriff,Alameda,California,1980,October,1,Murder or Manslaughter,...,Not Hispanic,Unknown,0,Unknown,Unknown,Unknown,Fire,0,1,FBI
1070,1071,CA00100,Alameda,Sheriff,Alameda,California,1980,November,1,Murder or Manslaughter,...,Hispanic,Unknown,0,Unknown,Unknown,Unknown,Knife,0,0,FBI
1071,1072,CA00100,Alameda,Sheriff,Alameda,California,1980,November,2,Murder or Manslaughter,...,Not Hispanic,Unknown,0,Unknown,Unknown,Unknown,Knife,0,0,FBI

In [20]:
# Examine shape of dataset
murders_df.shape

(99783, 24)

In [5]:
# Check for null values
murders_df.isnull().sum()

Record ID                0
Agency Code              0
Agency Name              0
Agency Type              0
County                   0
State                    0
Year                     0
Month                    0
Incident                 0
Crime Type               0
Crime Solved             0
Victim Sex               0
Victim Age               0
Victim Race              0
Victim Ethnicity         0
Perpetrator Sex          0
Perpetrator Age          0
Perpetrator Race         0
Perpetrator Ethnicity    0
Relationship             0
Weapon                   0
Victim Count             0
Perpetrator Count        0
Record Source            0
dtype: int64

In [6]:
# Check datatypes
murders_df.dtypes

Record ID                 int64
Agency Code              object
Agency Name              object
Agency Type              object
County                   object
State                    object
Year                      int64
Month                    object
Incident                  int64
Crime Type               object
Crime Solved             object
Victim Sex               object
Victim Age                int64
Victim Race              object
Victim Ethnicity         object
Perpetrator Sex          object
Perpetrator Age          object
Perpetrator Race         object
Perpetrator Ethnicity    object
Relationship             object
Weapon                   object
Victim Count              int64
Perpetrator Count         int64
Record Source            object
dtype: object

In [7]:
# Determine the number of unique values in each column.
murders_df.nunique()

Record ID                99783
Agency Code                585
Agency Name                613
Agency Type                  4
County                      58
State                        1
Year                        35
Month                       12
Incident                   131
Crime Type                   2
Crime Solved                 2
Victim Sex                   3
Victim Age                 101
Victim Race                  5
Victim Ethnicity             3
Perpetrator Sex              3
Perpetrator Age             96
Perpetrator Race             5
Perpetrator Ethnicity        3
Relationship                28
Weapon                      15
Victim Count                11
Perpetrator Count           11
Record Source                1
dtype: int64

In [8]:
# Inspect values in the Relationship column.
murders_df["Relationship"].value_counts()

Unknown                 45050
Stranger                23827
Acquaintance             9597
Friend                   5964
Wife                     2961
Girlfriend               2336
Son                      1299
Daughter                 1087
Family                   1067
Neighbor                  989
Husband                   804
Boyfriend                 710
Mother                    622
Brother                   603
Father                    521
In-Law                    487
Boyfriend/Girlfriend      407
Common-Law Wife           310
Ex-Wife                   194
Stepfather                169
Common-Law Husband        166
Sister                    146
Employer                  125
Stepson                   119
Stepdaughter               90
Employee                   58
Ex-Husband                 49
Stepmother                 26
Name: Relationship, dtype: int64

In [9]:
# Inspect values in the Weapon column.
murders_df["Weapon"].value_counts()

Handgun          55429
Knife            14989
Blunt Object     10195
Shotgun           4371
Firearm           4327
Rifle             4103
Unknown           2533
Strangulation     1865
Suffocation        760
Fire               624
Drowning           240
Drugs              180
Poison              77
Explosives          50
Gun                 40
Name: Weapon, dtype: int64

In [10]:
# Inspect values in the Victim Sex column.
murders_df["Victim Sex"].value_counts()

Male       81007
Female     18743
Unknown       33
Name: Victim Sex, dtype: int64

In [11]:
# Inspect values in the Victim Race column.
murders_df["Victim Race"].value_counts()

White                            64621
Black                            28805
Asian/Pacific Islander            3849
Unknown                           1995
Native American/Alaska Native      513
Name: Victim Race, dtype: int64

In [12]:
# Inspect values in the Victim Ethnicity column.
murders_df["Victim Ethnicity"].value_counts()

Not Hispanic    54179
Hispanic        37002
Unknown          8602
Name: Victim Ethnicity, dtype: int64

In [ ]:
# Create column for County_State
# murders_df["County_State"] = murders_df["County"] + ", " + murders_df["State"]
# murders_df.head()

In [13]:
# Import county demographics data
county_df = pd.read_csv("Resources/county_data.csv")
county_df.head()

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,0.5,1.3,1.8,26.5,23986,73.6,20.9,5.5,0.0,7.6
1,1003,Alabama,Baldwin,195121,95314,99807,4.5,83.1,9.5,0.6,...,1.0,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5
2,1005,Alabama,Barbour,26932,14497,12435,4.6,46.2,46.7,0.2,...,1.8,1.5,1.6,24.1,8597,71.8,20.8,7.3,0.1,17.6
3,1007,Alabama,Bibb,22604,12073,10531,2.2,74.5,21.4,0.4,...,0.6,1.5,0.7,28.8,8294,76.8,16.1,6.7,0.4,8.3
4,1009,Alabama,Blount,57710,28512,29198,8.6,87.9,1.5,0.3,...,0.9,0.4,2.3,34.9,22189,82.0,13.5,4.2,0.4,7.7

In [14]:
# Filter to California demographics
county_df = county_df[county_df["State"]=="California"]
county_df.head()

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
186,6001,California,Alameda,1584983,776699,808284,22.6,33.0,11.3,0.3,...,3.7,3.5,5.6,30.7,778132,78.7,13.8,7.4,0.1,8.3
187,6003,California,Alpine,1131,654,477,9.5,64.1,1.0,19.4,...,8.4,1.8,13.7,24.3,408,57.4,32.8,9.8,0.0,10.7
188,6005,California,Amador,36995,20012,16983,12.9,79.7,2.2,1.8,...,3.6,0.9,5.6,29.3,12573,64.5,23.4,11.8,0.3,14.0
189,6007,California,Butte,222564,110115,112449,15.2,73.8,1.4,0.7,...,3.7,3.9,5.8,19.9,89411,71.8,17.3,10.5,0.5,12.1
190,6009,California,Calaveras,44767,22143,22624,11.1,82.5,0.6,0.9,...,1.9,0.8,7.5,33.6,16248,65.2,20.3,13.9,0.6,12.1

In [ ]:
# Create column for County_State
# county_df["County_State"] = county_df["County"] + ", " + county_df["State"]

In [15]:
county_df.nunique()

CensusId           58
State               1
County             58
TotalPop           58
Men                58
Women              57
Hispanic           55
White              55
Black              35
Native             25
Asian              42
Pacific            12
Citizen            58
Income             58
IncomeErr          58
IncomePerCap       58
IncomePerCapErr    58
Poverty            51
ChildPoverty       55
Professional       56
Service            48
Office             45
Construction       45
Production         51
Drive              46
Carpool            41
Transit            32
Walk               36
OtherTransp        31
WorkAtHome         42
MeanCommute        50
Employed           58
PrivateWork        52
PublicWork         52
SelfEmployed       46
FamilyWork         12
Unemployment       43
dtype: int64

In [17]:
df = pd.merge(murders_df, county_df, on="County", how="inner")
df.head()

,Record ID,Agency Code,Agency Name,Agency Type,County,State_x,Year,Month,Incident,Crime Type,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1068,CA00100,Alameda,Sheriff,Alameda,California,1980,April,1,Murder or Manslaughter,...,3.7,3.5,5.6,30.7,778132,78.7,13.8,7.4,0.1,8.3
1,1069,CA00100,Alameda,Sheriff,Alameda,California,1980,August,1,Murder or Manslaughter,...,3.7,3.5,5.6,30.7,778132,78.7,13.8,7.4,0.1,8.3
2,1070,CA00100,Alameda,Sheriff,Alameda,California,1980,October,1,Murder or Manslaughter,...,3.7,3.5,5.6,30.7,778132,78.7,13.8,7.4,0.1,8.3
3,1071,CA00100,Alameda,Sheriff,Alameda,California,1980,November,1,Murder or Manslaughter,...,3.7,3.5,5.6,30.7,778132,78.7,13.8,7.4,0.1,8.3
4,1072,CA00100,Alameda,Sheriff,Alameda,California,1980,November,2,Murder or Manslaughter,...,3.7,3.5,5.6,30.7,778132,78.7,13.8,7.4,0.1,8.3

In [18]:
df.shape

(99783, 60)

In [19]:
df.isnull().sum()

Record ID                0
Agency Code              0
Agency Name              0
Agency Type              0
County                   0
State_x                  0
Year                     0
Month                    0
Incident                 0
Crime Type               0
Crime Solved             0
Victim Sex               0
Victim Age               0
Victim Race              0
Victim Ethnicity         0
Perpetrator Sex          0
Perpetrator Age          0
Perpetrator Race         0
Perpetrator Ethnicity    0
Relationship             0
Weapon                   0
Victim Count             0
Perpetrator Count        0
Record Source            0
CensusId                 0
State_y                  0
TotalPop                 0
Men                      0
Women                    0
Hispanic                 0
White                    0
Black                    0
Native                   0
Asian                    0
Pacific                  0
Citizen                  0
Income                   0
IncomeErr                0
IncomePerCap             0
IncomePerCapErr          0
Poverty                  0
ChildPoverty             0
Professional             0
Service                  0
Office                   0
Construction             0
Production               0
Drive                    0
Carpool                  0
Transit                  0
Walk                     0
OtherTransp              0
WorkAtHome               0
MeanCommute              0
Employed                 0
PrivateWork              0
PublicWork               0
SelfEmployed             0
FamilyWork               0
Unemployment             0
dtype: int64